 h1{
    text-align: center;
    text-decoration: underline; 
    background-image: url("https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHRlY2hub2xvZ3klMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-attachment: center;
    height: 40%;
    margin: 2px;
    border-color: black;
    border-radius: 10px;
    padding-bottom: 15px;
    
}

/* body{
    
    background-repeat: no-repeat;
    background-position: left;
    line-height: 2.5;
    background-color: white;
    font-family: 'Mynerve', cursive;
    text-align: center;
   
    padding: 0px;
    

}

ul {
    list-style-type: none;
    text-align: right;
    font-size: larger;
    padding: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#module-button{

     background-color: aqua;
} */ 


#modal {
	background-color: rgba(253, 252, 253, 0.5);
    
	position: fixed;
	top: 0;
	left: 0;
	height: 50%;
	width: 50%;
	z-index: 5;
	overflow: auto;
	display: none;
    margin: 20%;
    border: 5PX;
    padding: 5%;
    text-overflow: inherit;
    text-justify: auto;
}

/* #modal-textbox{ */
	/* background-color: rgba(81, 171, 156, 0.79);
	height: 350px;
	width: 550px;
    z-index: 1;
	border-radius: 15px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	padding: 2%;
	line-height: 120%; */
/* } */

#modal-footer {
	text-align: right;
    

}



.modal-buttons{
	padding: 20px;
	background-color: rgb(247, 246, 245);
	color: rgb(14, 10, 10);
	border: 4;
	margin: 9%;
	z-index: 1;
	font-family: Arial;
	cursor: pointer;
}
p{
    display: none;

}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

body {
    background-color: rgba(149, 57, 97, 0.4);
}
