

 body {

    background-position: center;
        line-height: 2.5;
        background-color: rgba(1, 119, 93, 0.441);
        font-family: 'Mynerve', cursive;
        text-align: center;
        overflow: auto;
        padding: 100px;
        /* margin: 80px;  */
        /* background-image: url("https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHRlY2hub2xvZ3klMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
        /* background-repeat: no-repeat;
        border-radius: 4px;
        width: 400px;
        max-width: 100%;
         */
     
     
     
 } 
 h1 {
     text-align: center;
     text-decoration: underline;
     
     border-color: rgb(228, 10, 10);
     border-radius: 80px;
     margin-bottom: 80px;
     font-family: 'Mynerve', cursive;
    

 }

 #modal {
     background-color: rgba(253, 252, 252, 0.5);

     position: fixed;
     top: 0;
     left: 0;
     height: 50%;
     width: 50%;
     z-index: 5;
     overflow: auto;
     display: none;
     margin: 20px;
     border: 5PX;
     padding: 5%;
     
     text-justify: auto;
 
 }

 .modal-buttons {
     padding: 20px;
     background-color: rgb(247, 246, 245);
     color: rgb(14, 10, 10);
     border: 4;
     margin: 25px;
     z-index: 1;
     font-family: Arial;
     cursor: pointer;
     border-radius: 30px;
     position:relative;
 }


 p {
     display: none;
     background-color: rgba(169, 225, 240, 0.805);

 }


 button{
    border-radius: 30px;
    margin: 20px;
    
    
 }

 img{
    margin: 50px;
    padding: 30px;
    height: 400px;
 }

 

